# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/CopilotSnapshots/
.vs/MyOpenGLProject.slnx/v18
.vs/MyOpenGLProject.slnx/FileContentIndex
.vs/MyOpenGLProject/CopilotIndices
.vs/MyOpenGLProject.slnx/copilot-chat

x64/
Debug/
*.log
*.ilk
MyOpenGLProject/x64/Debug/MyOpenGLProject.ilk
MyOpenGLProject/x64/Debug/MyOpenGLProject.log
MyOpenGLProject/x64/Debug/MyOpenGLProject.tlog/CL.command.1.tlog
MyOpenGLProject/x64/Debug/MyOpenGLProject.tlog/Cl.items.tlog
MyOpenGLProject/x64/Debug/MyOpenGLProject.tlog/CL.read.1.tlog
MyOpenGLProject/x64/Debug/MyOpenGLProject.tlog/CL.write.1.tlog
MyOpenGLProject/x64/Debug/MyOpenGLProject.tlog/link.command.1.tlog
MyOpenGLProject/x64/Debug/MyOpenGLProject.tlog/link.read.1.tlog
MyOpenGLProject/x64/Debug/MyOpenGLProject.tlog/link.secondary.1.tlog
MyOpenGLProject/x64/Debug/MyOpenGLProject.tlog/link.write.1.tlog
MyOpenGLProject/x64/Debug/vc145.idb
MyOpenGLProject/x64/Debug/vc145.pdb
MyOpenGLProject/x64/Debug/MyOpenGLProject.ilk
MyOpenGLProject/x64/Debug/MyOpenGLProject.log
MyOpenGLProject/x64/Debug/MyOpenGLProject.tlog/CL.command.1.tlog
MyOpenGLProject/x64/Debug/MyOpenGLProject.tlog/Cl.items.tlog
MyOpenGLProject/x64/Debug/MyOpenGLProject.tlog/CL.read.1.tlog
MyOpenGLProject/x64/Debug/MyOpenGLProject.tlog/CL.write.1.tlog
MyOpenGLProject/x64/Debug/MyOpenGLProject.tlog/link.command.1.tlog
MyOpenGLProject/x64/Debug/MyOpenGLProject.tlog/link.read.1.tlog
MyOpenGLProject/x64/Debug/MyOpenGLProject.tlog/link.secondary.1.tlog
MyOpenGLProject/x64/Debug/MyOpenGLProject.tlog/link.write.1.tlog
MyOpenGLProject/x64/Debug/vc145.idb
MyOpenGLProject/x64/Debug/vc145.pdb
