# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/CopilotSnapshots/
.vs/MyOpenGLProject.slnx/v18
.vs/MyOpenGLProject.slnx/FileContentIndex
.vs/MyOpenGLProject/CopilotIndices
.vs/MyOpenGLProject.slnx/copilot-chat

x64/
Debug/
*.log
*.ilk
*.tlog
MyOpenGLProject/x64/Debug/
*.png
*.gif
*.txt
